
<p>
  {{desc}}
  </p>
  <div class="container">
    <h1>Hero Form</h1>
    <form>
      <div class="form-group">
        <label for="username">{{usernameL}}  :</label>
        <input [(ngModel)]="user" type="text"  class="form-control" id="username" name="user" required>
      </div>

      <div class="form-group">
        <label for="password">{{passwordL}}   :</label>
        <input [(ngModel)]="pass" type="text" class="form-control" id="password" name="password">
      </div>

      <button type="submit" class="btn btn-success" (click)="clickDetail(user)">Submit</button>
      <p>Notification received from chiled is: <br> {{valueToDashboard}}</p>
    </form>
</div>

<app-dashboard [username]="user" [password]="pass" (valueToDashboard)="updateFromChild($event)" ></app-dashboard>
